:root {
    /* colors */
    --color-yellow: #FFCC3F;
    --color-pink-light: #FFBACE;
    --color-pink-dark: #FEA4BE;
    --color-blue-light: #3FBACA;
    --color-blue-dark: #44A5B2;
    --color-green: #00A56B;
    --color-red: #FF6622;
    
    --color-text: black;
    --color-white: white;

    /* font-family */
    --font-body:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-heading: 'Jaro', sans-serif;

    /* margins and heights */
    --header-height: 8rem;
    
    /* radiussses */
    --border-radius: 1rem;
}


/* **********+++ */
/* General stuff */
/* **********+++ */

*{
    font-family: var(--font-body);
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    margin: 0px;
}

body {
    margin: 0px;
    max-width: 100vw;
}

img {
    max-width: 100%;
}

h2{ 
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}


/* **********+++ */
/* Index page    */
/* **********+++ */

/* **********+++ */
/* Header        */
/* **********+++ */

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1rem;

    background: var(--color-yellow);

    
}

.hamburger-button{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    background: none;
    border: none;
    height: 4rem;
    width: 4rem;
    cursor: pointer;

    display: inline-block;

    cursor: pointer;
    margin: 0 1rem;
}


.hamburger-button input {
    display: none; /* Hide the checkbox */
}


.hamburger-button span {
    display: block;
    max-width: 100%;
    height: 13%; 
    background: var(--color-red);
    border-radius: var(--border-radius);

    margin: 10px 0; 
    transition: transform 0.3s ease; 

}


/*button animation*/

.hamburger-button input:checked ~ span:nth-child(2) {
    transform: rotate(405deg) translate(14px, 21px);
}


.hamburger-button input:checked ~ span:nth-child(3) {
    opacity: 0; 
}

.hamburger-button input:checked ~ span:nth-child(4) {
    transform: rotate(-405deg) translate(5px, -11px);
}

/* header list styling mobile*/

.header-items-container {
    display: none;
    width: 100vw;
    margin: 0.5rem 0 0 0;
}

.header-show {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    max-width: 100vw;
}

.header-item a{
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-heading);
    font-size: 2rem;
    padding: 0rem 2rem;
    
}

.header-item{
    min-width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
}

#header-home{
    background: var(--color-red);
}

#header-portfolio{
    background: var(--color-pink-dark);
}

#header-about{
    background: var(--color-blue-dark);
}

#header-contact{
    background: var(--color-green);
}

/* media query bigger display */

@media  (min-width: 588px){
    header{
        align-items: end;
    }
}

@media (min-width: 734px) {
    header{
        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .hamburger-button {
        display: none;
    }

    .header-items-container {
        list-style: none;
        padding: 0px;
        margin: 0px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: var(--header-height);
    }

    .header-item a {
        text-decoration: none;
        font-family: var(--font-heading);
        font-size: 1.8rem;
        color: var(--color-text);
        padding: 0px;
    }

    .header-item {
        display: block;

        padding: 0.6rem 0rem;
        min-width: 10rem;
        text-align: center;
        border-radius: var(--border-radius);
        box-shadow: -9px 9px;
    }
}

/* ************* */
/* Main          */
/* ************* */

    /* ************************** */
    /* Section 1: Landing Page    */
    /* ************************** */

.landing-page {
    background: var(--color-yellow);
    display: grid;
    justify-items: center;
    padding-top: 2rem;
}

.landing-page h1{
    margin: 0px;
    padding: 1rem 2rem;
}

.landing-page svg {
    display: none;
}

.landing-page>div{
    display: grid;
    justify-items: center;
}

/* Grid positioning */

.landing-page div:first-of-type{
    grid-row: 1/2;
}

/* triangles */

.triangletop {
    grid-row: 2/3;

    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 2rem solid var(--color-white);
}

.trianglebottom {
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid var(--color-white);
}

/* speechbubble layout */

.speechbubble {
    background: var(--color-white);
    margin: 0 1rem;
    border-radius: var(--border-radius);

    max-width: 30rem;
}

.speechbubble p{
   padding: 1rem;
}

.speechbubble p span{
    font-weight: 600;
 }

 /* scroll to find out more */

.scroll {
    padding: 2rem 0 2rem 0;
    display: grid;
    justify-items: center;
}

.scroll p{
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
    font-family: var(--font-heading);
}

/* media bigger screen landing page */

@media (min-width: 734px) {
    .landing-page h1{
        max-width: 37rem;
        padding: 4.5rem 0;
    }

    .whole-bubble{
        position: absolute;
    }

    .whole-bubble:first-of-type{
        transform: translate(-7rem, 0px);
    }

    .whole-bubble:nth-of-type(2){
        transform: translate(7rem, 27.4rem);
    }

    .triangletop {
        border-left: 2rem solid transparent;
        border-right: 0.5rem solid transparent;
        margin: 0 4rem 0 0;
    }
    
    .trianglebottom {
        border-left: 0.5rem solid transparent;
        border-right: 2rem solid transparent;
    }
}

@media (min-width: 854px) {
    .landing-page h1{
        padding: 7rem 0 6rem 0;
    }

    .landing-page p {
        font-size: 1.2rem;
    }


    .whole-bubble:first-of-type{
        transform: translate(-10rem, 2rem);
    }

    .whole-bubble:nth-of-type(2){
        transform: translate(10rem, 30rem);
    }

}

@media (min-width: 1200px){
    .landing-page h1{
        max-width: 45rem;
        padding: 5rem 0 2rem 0;
    }

    .landing-page p {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .speechbubble{
        max-width: 35rem;
    }

    .whole-bubble:first-of-type{
        transform: translate(-19rem, 2rem);
    }

    .whole-bubble:nth-of-type(2){
        transform: translate(19rem, 28rem);
    }

    .triangletop {
        margin: 0 0 0 15rem;
    }
    
    .trianglebottom {
        margin: 0 17.5rem 0 0;
    }

}


    /* ************************** */
    /* Section 2: Portfolio       */
    /* ************************** */
.portfolio{
    background: var(--color-pink-light);
    padding: 0 1rem;
}

.portfolio h3{
    font-size: 1.6rem;
    text-align: center;
}

/* grid and grid positioning */

.portfolio-item-container {
    display: grid;
    gap: 1.5rem;
}

.portfolio-item{
    background: #FFCC3F;
    max-width: 100vw;
    border-radius: var(--border-radius);
    overflow: hidden;

    transition: 0.2s;
}

.portfolio-item:hover{
    transform: scale(103%);
}

@media (min-width: 570px){
    .portfolio-item a {
        display: grid;
        grid-template-columns: 2.5fr 6fr;
        grid-template-rows: max-content max-content max-content;
    }

    .portfolio-item a figure {
        grid-column: 1/2;
        min-height: 100%;
        grid-row: 1/-1;
    }

    .portfolio-item a figure img {
        height: auto;
        width: auto;
    }

    .portfolio-item a>*:not(figure){
        grid-column: 2/3;
    }

    #minigamefigure img{
        transform: scale(170%);
    }

    #lievestad #lievestadfigure img{
        align-self: flex-start;
    }


    #boekenzoeker #boekenzoekerfigure img{
        align-self: flex-end;
        height: 100%;
        min-width: 20rem;
    }

    #motiongraphicfigure img{
        transform: scale(170%);
    }


}

/* portfolio item appearance */

.portfolio-item a figure {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    height: 10rem;

    display: flex;
    align-items: center; 
}

.portfolio-item a figure img {
    width: 100%;
}

#boekenzoeker img, #illustration img{
    align-self: flex-start;
}

#lievestad img {
    align-self: flex-end;
}

.portfolio-text {
    margin: 1rem 1rem;
    line-height: 22px;
}

.portfolio-text p{
    margin: 0px;
}

/* headings of portfolio items */
.portfolio article>a>div:first-of-type{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 4rem;
    position: relative;
}

.portfolio article>a{
    text-decoration: none;
    color: var(--color-text);
}

.portfolio article>a>div:first-of-type>p{
    position: absolute;
    margin: 0px;
    top: 2.6rem;
}

.frontend-heading{
    background: var(--color-green);
}

.ui-heading{
    background: var(--color-blue-dark);
}

.visual-heading{
    background: var(--color-red);
}

/* tags */

.tag-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
}

.tag-container p{
    font-size: 0.75rem;
    text-align: center;
    margin: 0 0.7rem 0.7rem 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}

.frontendtag{
    background: var(--color-green);
}

.UItag{
    background: var(--color-blue-dark);
}

.visualtag{
    background: var(--color-red);
}

/* more to come */

.portfolio-item-container>p{
    font-family: var(--font-heading);
    text-align: center;
    font-size: 1.7rem;
}










