:root {
    /* colors */
    --color-yellow: #FFCC3F;
    --color-pink-light: #FFBACE;
    --color-pink-dark: #FEA4BE;
    --color-blue-light: #3FBACA;
    --color-blue-dark: #44A5B2;
    --color-green: #00A56B;
    --color-red: #FF6622;
    
    --color-text: black;
    --color-white: white;

    /* font-family */
    --font-body:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-heading: 'Jaro', sans-serif;
    --font-heading-alt: 'Chewy', sans-serif;

    /* margins and heights */
    --header-height: 8vh;
    
    /* radiussses */
    --border-radius: 1rem;

}


/* **********+++ */
/* General stuff */
/* **********+++ */

*{
    font-family: var(--font-body);
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* Adjust this value to the height of your header */
}

@media (min-width: 734px) {
    *{
        scroll-padding-top: var(--header-height); 
    }
}


h1, h2, h3, h4 {
    font-family: var(--font-heading);
    margin: 0px;
    letter-spacing: 1px;
}

@media (max-width: 682px) {
    h1, h2, h3, h4 {
        font-family: var(--font-heading-alt);
    }
}

body {
    margin: 0px;
    max-width: 100vw;
}

img {
    max-width: 100%;
}

h2{ 
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

main {
    overflow: hidden;
}

/* weird google thing */
body>div:last-of-type{
    display: none !important;
}


/* **********+++ */
/* Index page    */
/* **********+++ */

/* **********+++ */
/* Header        */
/* **********+++ */

header {
    display: flex;
    flex-direction: column;
    align-items: end;

    padding-bottom: 1rem;

    background: var(--color-yellow);
   

}

.hamburger-button{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    background: none;
    border: none;
    height: 4rem;
    width: 4rem;
    cursor: pointer;

    display: inline-block;

    cursor: pointer;
    margin: 0 1rem;
}


.hamburger-button input {
    display: none; /* Hide the checkbox */
}


.hamburger-button span {
    display: block;
    max-width: 100%;
    height: 13%; 
    background: var(--color-red);
    border-radius: var(--border-radius);

    margin: 10px 0; 
    transition: transform 0.3s ease; 

}


/*button animation*/

.hamburger-button input:checked ~ span:nth-child(2) {
    transform: rotate(405deg) translate(14px, 21px);
}


.hamburger-button input:checked ~ span:nth-child(3) {
    opacity: 0; 
}

.hamburger-button input:checked ~ span:nth-child(4) {
    transform: rotate(-405deg) translate(5px, -11px);
}

/* header list styling mobile*/

.header-items-container {
    display: none;
    width: 100vw;
    margin: 0.5rem 0 0 0;
}

.header-show {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    max-width: 100vw;
}

.header-item a{
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-heading);
    font-size: 2rem;
    padding: 0rem 2rem;
    
}

@media (max-width: 682px) {
    .header-item a {
        font-family: var(--font-heading-alt);
    }
}


.header-item{
    min-width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.header-item:hover {
    transform: scale(107%);
}



#header-home{
    background: var(--color-red);
}

#header-portfolio{
    background: var(--color-pink-dark);
}

#header-about{
    background: var(--color-blue-dark);
}

#header-contact{
    background: var(--color-green);
}

/* media query bigger display */


   


@media (min-width: 734px) {
    header{
        position: sticky;
        top: 0px;
        z-index: 1000;

        /* shadow when scroling */
        box-shadow: none; /* No shadow initially */
        transition: box-shadow 0.3s; /* Smooth transition for shadow */
    }

    .shadow {
        box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1); /* Shadow effect */
    }

   

    .hamburger-button {
        display: none;
    }

    .header-items-container {
        list-style: none;
        padding: 0px;
        margin: 0px;
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        height: var(--header-height);
    }

    .header-item a {
        text-decoration: none;
        font-family: var(--font-heading);
        font-size: 1.6rem;
        color: var(--color-text);
        padding: 0 0 6px 0;
       
    }

    .header-item {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 3rem;
        min-width: 8rem;
        text-align: center;
        border-radius: var(--border-radius);
        box-shadow: -9px 9px;

        transition: box-shadow 0.2s, transform 0.2s;
    }

    

    .header-item.active{
        box-shadow: none;
        transform: translate(-9px, 9px);
    }
}

/* ************* */
/* Main          */
/* ************* */

    /* ************************** */
    /* Section 1: Landing Page    */
    /* ************************** */

.landing-page {
    background: var(--color-yellow);
    display: grid;
    justify-items: center;
    padding-top: 2rem;

    max-height: fit-content;
    min-height: calc(100vh - var(--header-height)); ;
    
}

.landing-page h1{
    margin: 0px;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
}

.landing-page svg {
    display: none;
}

.whole-bubble{
    display: grid;
    justify-items: center;
    max-height: min-content;
}

/* Grid positioning */

.landing-page div:first-of-type{
    grid-row: 1/2;
}

/* triangles */

.triangletop {
    grid-row: 2/3;

    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 2rem solid var(--color-white);
}

.trianglebottom {
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 2rem solid var(--color-white);
    align-self:flex-end;
}

/* speechbubble layout */

.speechbubble {
    background: var(--color-white);
    margin: 0 1rem;
    border-radius: var(--border-radius);

    max-width: 30rem;
}

.speechbubble p{
   padding: 1rem;
}

.speechbubble p span{
    font-weight: 600;
 }

 /* scroll to find out more */

.scroll {
    padding: 2rem 0 2rem 0;
    display: grid;
    justify-items: center;
    height: min-content;
   
}

.scroll p{
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
    font-family: var(--font-heading);
    height: min-content;
}

@media (max-width: 682px) {
    .scroll p {
        font-family: var(--font-heading-alt);
    }
}

/* media bigger screen landing page */

@media (min-width: 734px) {
    .landing-page{
        grid-template-rows: 2vh min-content 2vh max-content;
        padding-top: 5vh;
    }

    .landing-page h1{
        min-width: 45vw;
        max-width: 77vw;
        padding: 0px;
    }

    .landing-page h1 img{
        min-width: 100%;
    }

    .whole-bubble{
        position: relative;
        
    }
    .speechbubble{
        min-width: 55vw;
        max-width: 55vw;
    }

    .whole-bubble:first-of-type{
        transform: translate(-20vw, 0vw);
    }

    .whole-bubble:nth-of-type(2){
        transform: translate(20vw, -13vw);
    }

    .whole-bubble>div {
        transform: scale();
    }

    .triangletop {
        border-left: 2rem solid transparent;
        border-right: 0.5rem solid transparent;
        margin: 0 4rem 0 0;
    }
    
    .trianglebottom {
        border-left: 0.5rem solid transparent;
        border-right: 2rem solid transparent;
    }


    .scroll{
        align-self: end;
    }
}

@media (min-width: 854px) {
    

    .landing-page p {
        font-size: 1.2rem;
    }


}

@media (min-width: 1200px){
    

    .landing-page p {
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    


    .triangletop {
        margin: 0 0 0 15rem;
    }
    
    .trianglebottom {
        margin: 0 17.5rem 0 0;
    }

}

@media (min-width: 1235px){
    .speechbubble{
        min-width: 45vw;
        max-width: 45vw;
    }
}

@media (min-width: 1419px){
    .whole-bubble:nth-of-type(2){
        transform: translate(20vw, -9vw);
    }
}

@media (min-width: 1866px){
    .speechbubble{
        min-width: 35vw;
        max-width: 35vw;
    }
}

#turntransparent {
    opacity: 1; /* Start fully opaque */
    transition: opacity 0.1s; /* Smooth transition */
}


    /* ************************** */
    /* Section 2: Portfolio       */
    /* ************************** */
.portfolio{
    background: var(--color-pink-light);
    padding: 0 1rem;
}

.portfolio h3{
    font-size: 1.6rem;
    text-align: center;
}

/* grid and grid positioning */

.portfolio-item-container {
    display: grid;
    gap: 1.5rem;
}



.portfolio-item{
    cursor: pointer;
    max-width: 100vw;
    border-radius: var(--border-radius);
    overflow: hidden;

    transition: 0.2s;

    background: var(--color-yellow);

}

.portfolio-item .button {
    background: var(--color-yellow);
    border: none;
    padding: 0px;
    text-align: left;
   
}


.portfolio-item:hover{
    transform: scale(103%);
    filter: contrast(120%);
}

@media (min-width: 570px){
    .portfolio-item{
        height: 15rem;
    }

    .portfolio-item .button {
        height: 100%;
        display: grid;
        grid-template-columns: 2.5fr 6fr;
        grid-template-rows: max-content max-content 1fr;
    }

    .portfolio-item .button .tag-container{
        align-self: end;
        justify-self: end;
        display: flex;
        flex-direction: row-reverse;

    }

    .portfolio-item .button figure {
        grid-column: 1/2;
        min-height: 100%;
        grid-row: 1/-1;
    }

    .portfolio-item .button figure img {
        height: auto;
        width: auto;
    }

    .portfolio-item .button>*:not(figure){
        grid-column: 2/3;
    }

    #minigamefigure img{
        transform: scale(230%);
    }

    #lievestad #lievestadfigure img{
        align-self: flex-start;
    }


    #boekenzoeker #boekenzoekerfigure img{
        align-self: flex-end;
        height: 100%;
        min-width: 20rem;
    }
    
    #illustrationfigure img{
        transform: scale(110%);
    }

    #motiongraphicfigure img{
        transform: scale(170%);
    }
}

@media (min-width: 597px) {
    .portfolio-item-container {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(550px, 560px));
        justify-content: center;
    }

    .portfolio-item{
        max-width: 100%; 
    }

    
}





/* portfolio item appearance */

.portfolio-item .button figure {
    width: 100%;
    margin: 0px;
    overflow: hidden;
    height: 10rem;

    display: flex;
    align-items: center; 
}

.portfolio-item .button figure img {
    width: 100%;
}

#boekenzoeker img, #illustration img{
    align-self: flex-start;
}

#lievestad img {
    align-self: flex-end;
}

.portfolio-text {
    margin: 1rem 1rem;
    line-height: 22px;
}

.portfolio-text p{
    margin: 0px;
}

/* headings of portfolio items */
.portfolio article>.button>div:first-of-type{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 4rem;
    position: relative;
}

.portfolio article>.button{
    text-decoration: none;
    color: var(--color-text);
}

.portfolio article>.button>div:first-of-type>p{
    position: absolute;
    margin: 0px;
    top: 2.6rem;
}

.frontend-heading{
    background: var(--color-green);
}

.ui-heading{
    background: var(--color-blue-dark);
}

.visual-heading{
    background: var(--color-red);
}

/* tags */

.tag-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
}

.tag-container p{
    font-size: 0.75rem;
    text-align: center;
    margin: 0 0.7rem 0.7rem 0;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
}

.frontendtag{
    background: var(--color-green);
}

.UItag{
    background: var(--color-blue-dark);
}

.visualtag{
    background: var(--color-red);
}

/* more to come */
.more{
    transition: 1s;
}
.more:hover{
    transform: rotate(360deg) scale(110%); 
}


.portfolio-item-container>p{
    font-family: var(--font-heading);
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
}

@media (max-width: 682px) {
    .portfolio-item-container>p {
        font-family: var(--font-heading-alt);
    }
}

@media (min-width: 1176px) {
    .more{
        font-family: var(--font-heading);
        text-align: center;
        font-size: 1.7rem;
        margin: 0px;
        padding: 0px;

        align-self: center;
        text-align: center;
    }

    .portfolio-item-container > p{
        margin-bottom: 0px;
    }

    .portfolio{
        padding-bottom: 3rem;
    }

}

@media (min-width: 1407px) {
    .portfolio-item-container{
        transform: scale(105%);
        margin: 2rem 0;
    }

}

@media (min-width: 1570px) {
    .portfolio-item-container{
        transform: scale(120%);
        margin: 5rem 0;
    }

}

@media (min-width: 1775px){
    .portfolio-item-container{
        transform: scale(100%);
        margin: 0rem 0;
        
    }
}

@media (min-width: 2010px){
    .portfolio-item-container{
        transform: scale(110%);
        margin: 5rem 0;
        
    }
}

@media (min-width: 2359px){
    .portfolio-item-container{
        transform: scale(100%);
        margin: 5rem 0;
    }
}

    /* ************************** */
    /* Section 3: About           */
    /* ************************** */

.about {
    background: var(--color-blue-light);
    display: grid;
}

.about span {
    font-weight: 600;
}

.abouttext {
    margin: 0 2rem;
    max-width: 32rem;
    justify-self: center;
}

#aboutfoto{
    grid-row: 4/5;
    margin-bottom: 0px;
    display: flex;
}



/* Find my CV layout */

.cv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    text-decoration: none;

    transition: 0.2s;
}

.cv:hover{
    transform: scale(105%);
}

.cv p{
    font-family: var(--font-heading);
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
}

@media (max-width: 682px) {
    .cv p{
        font-family: var(--font-heading-alt);
    }
}

.cv p::after{
    content: '→';
}


@media (min-width: 558px){

    #about h2 {
        grid-column: 1/3;
    }

    #aboutfoto {
        grid-column: 2/3;
        grid-row: 3/4;

        max-width: 217px;
    }

    .cv {
        grid-column: 1/2;
        grid-row: 3/4;
        margin: 0 0 0 2rem;
    }

    .cv p {
        font-size: 1.3rem;
    }


    .abouttext {
        grid-column: 1/3;
        
    }
}

@media (min-width: 592px){
    .cv{
        justify-self: right;
    }

    #aboutfoto{
        justify-self: left;
    }
}

@media (min-width: 940px){
    .abouttext {
        grid-column: 1/2; 
    }

    .cv{
        justify-self: center;
        align-self: start;
        margin-right: 8rem;
        margin-bottom: 2rem;
    }

    #aboutfoto{
        grid-row: 2/4;
        margin: 0px;
        align-self: end;
        max-width: 413px;
    }
}

@media (min-width: 1211px){
    .abouttext {
        max-width: 600px;
        font-size: 1.1rem;
    }

    .cv p {
        font-size: 1.5rem;
    }

    .about {
        grid-template-columns: 2fr 1.3fr;
    }

    #aboutfoto{
        justify-self: left;
    }
}

@media (min-width: 1266px){
    #aboutfoto{
        max-width: 450px;
    }

    .abouttext{
        margin-left: 6vw;
    }
}

@media (min-width: 1400px){
    .abouttext {
        font-size: 1.2rem;
    }

    .cv p {
        font-size: 1.7rem;
    }

    #aboutfoto{
        max-width: 470px;
    }
}

    /* ************************** */
    /* Footer                     */
    /* ************************** */
footer {
    background: var(--color-green); 
}
footer h2 {
    font-size: 2rem;
    padding: 1rem 2rem 0 2rem;
}

#links {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 0 2rem;
}

#links a{
    transition: 0.2s;
}

#mail-phone {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-row: 1/2;
    gap: 1rem;
    margin: 1rem 0;
}

#mail-phone a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.1rem;
}

#socials {
    display: flex;
    justify-content: space-between;
    width: 35vw;
}

#links a:hover{
    transform: scale(110%);
    color: var(--color-white);
    filter: brightness(0) invert(1);
}

@media (min-width: 410px){
    #links {
        justify-content: space-between;
    }

    #mail-phone{
        grid-row: 2/3;
        grid-column: 2/3;
        text-align: left;
        margin: 0 0 1rem 0;
        justify-items: right;
    }

    #socials{
        grid-row: 2/3;
        grid-column: 1/2; 
        justify-content: left;
    }

    #socials a:first-of-type{
        margin-right: 1rem;
    }

    footer h2 {
        text-align: left;
        margin-bottom: 1rem;
    }

}

@media (min-width: 690px){
    #mail-phone a {
        font-size: 1.3rem;
    }
}

@media (min-width: 870px){
    #mail-phone a{
        font-size: 1.45rem;
    }

    #socials a img{
        height: 4.5rem;
    }
}




/* ************************** */
/* All Portfolio Item HTMLS   */
/* ************************** */
.portfoliohtml{
    background: var(--color-yellow);
}

.portfoliohtml h1{
    font-size: 3rem;
    text-align: center;
    width: 100vw;
}

.portfoliohtml h2{
    font-size: 2rem;
    padding-bottom: 0rem;
    padding-top: 1rem;
}

/* heading */

.portfoliohtml .heading {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

/* back button */

.portfoliohtml .backbutton{
    background: var(--color-pink-dark);
    width: fit-content;
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-heading-alt);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.6rem;
    border-radius: 0.5rem;

    box-shadow: -5px 5px 0px black;
    margin-bottom: 1rem;

}

.portfoliohtml .backbutton div{
    border-bottom: 0.8rem solid transparent;
    border-right: 1.6rem solid var(--color-text);
    border-top: 0.8rem solid transparent;
}

.portfoliohtml .backbutton{
    font-size: 1.3rem;
    transition: 0.2s;
}

.backbutton:active{
    box-shadow: none;
    transform: translate(-9px, 9px);
}

/* articles */

.portfoliohtml article{
    margin: 0 1rem;
}

.portfoliohtml .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-green);

}

.portfoliohtml .table .column1{
    font-weight: 700;
}

.portfoliohtml .table p {
    margin: 0px;
}

/* site button */

.portfoliohtml .description>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfoliohtml .sitebutton {
    text-decoration: none;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-items: center;
}


/* ************************** */
/* MINI-GAME HTML             */
/* ************************** */

#minigamehtml h1{
    background: var(--color-green);
    
}

















